@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-yellow-button {
  --bg: #7300ff;
  --hover-bg: #e1ff2d;
  --hover-text: #000;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  border: 2px solid var(--hover-text);
  background: var(--hover-bg);
  transition: 0.2s;
  /* border-radius: 2rem;
  padding: 0.8em 1.5em; */
}

.custom-yellow-button:hover {
  color: var(--hover-text);
  transform: translate(0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: -0.25rem 0.25rem var(--bg);
}

.custom-yellow-button:active {
  transform: translate(0);
  box-shadow: none;
}

.custom-black-button {
  --bg: #DB6C3D;
  --hover-bg: #000000;
  --hover-text: #fff;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  background: var(--hover-bg);
  transition: 0.2s;
  /* border-radius: 2rem;
  padding: 0.8em 1.5em; */
}

.custom-black-button:hover {
  color: var(--hover-text);
  transform: translate(0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: -0.25rem 0.25rem var(--bg);
}

.custom-black-button:active {
  transform: translate(0);
  box-shadow: none;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-to-left {
  display: flex;
  animation: moveLeft 40s linear infinite;
  width: max-content;
}
