@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* inspired form gumroad website */
.custom-button {
  --bg: #7300FF;
  --hover-bg: #E1FF2D;
  --hover-text: #000;
  color: #000;
  cursor: pointer;
  border: 2px solid var(--hover-text);
  background: var(--hover-bg);
  transition: 0.2s;
  border-radius: 2rem;
  padding: 0.8em 1.5em;
}

.custom-button:hover {
  color: var(--hover-text);
  transform: translate(0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: -0.25rem 0.25rem var(--bg);
}

.custom-button:active {
  transform: translate(0);
  box-shadow: none;
}


